@use '/src/styles/constants/colors';

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding: 80px 10px;
  background-color: #cae9ff;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  padding: 5px 0;
  margin-bottom: 20px;
  font-size: larger;
  font-weight: 900;
  text-align: center;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;

  input {
    width: 100%;
    padding: 15px 30px;
    background-color: colors.$WHITE;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(30, 32, 37, 10%);
  }

  button {
    position: absolute;
    left: 92%;

    .searchIcon {
      width: 20px;
      height: 20px;
      fill: colors.$WHITE;
      stroke: colors.$GRAY2;
    }
  }
}

.searchItemUl {
  width: 100%;
  height: 60%;
  padding: 20px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 20px;

  .recommendSearchLi {
    margin-bottom: 10px;
    font-size: small;
    font-weight: 600;
    color: colors.$GRAY6;
  }
}
