@use '/src/styles/constants/colors';

.searchItemLi {
  padding: 10px;

  .selectedISearchItem {
    background-color: red;
  }

  .selectedISearchItem {
    background-color: red;
  }

  &:last-child {
    margin-bottom: 0;
  }

  button {
    display: flex;
    width: 100%;
    font-size: 15px;
    text-align: left;

    .searchIcon {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      fill: colors.$WHITE;
      stroke: colors.$GRAY2;
    }
  }
}

.focusedLi {
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 20%) 0 2px 8px 0;
}
