@use '../../styles/constants/colors';

.navBarWrapper {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: white;

  .navBar {
    display: flex;
    justify-content: space-between;

    .titleImage {
      margin: 10px;
    }

    .toggleButton {
      padding: 10px 15px;
      cursor: pointer;
    }
  }

  .menuList {
    text-align: center;

    li {
      padding: 20px 0;
      color: colors.$TEXT_TITLE;
      cursor: pointer;
      border-bottom: 1.2px solid colors.$GRAYD;
    }
  }
}
