@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: colors.$SECONDARY;

  .bannerWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    padding: 0 20px;
    margin: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(30, 32, 37, 10%);
  
    .bannerDetailWrap {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .textDetail {
        display: flex;
        flex-direction: column;

        .titleContent {
          margin: 10px 0;
          font-size: 15px;
          font-weight: 600;
        }

        .subContent {
          margin-bottom: 20px;
          font-weight: 600;
          color: colors.$PRIMARY;
        }
      }
  
      .bannerBtn {
        width: 130px;
        height: 30px;
        font-size: 14px;
        color: colors.$WHITE;
        background-color: colors.$PRIMARY;
        border-radius: 50px;
      }
    }
  
    .bannerIcon {
      width: 110px;
      height: 110px;
    }
  }

  .footerDetailWrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 20px 60px 20px;
    background-color: colors.$BG_FOOTER;

    .footerDetail {
      display: flex;
      flex-direction: column;
      color: colors.$TEXT_FOOTER;
    
      .infos {
        display: flex;
        flex-direction: column;
        .footerDetailTitle {
          margin-bottom: 20px;
        }
      
        .footerLocation {
          margin-bottom: 5px;
          font-size: 14px;
        }
      
        .footerInc {
          font-size: 14px;
        }
      
        .footerIcon {
          width: 90px;
          padding: 10px;
          margin: 15px 0;
        }
      }
  
      .privacy {
        display: flex;
        flex-direction: column;

          .footerPrivacy {
            margin-bottom: 20px;
            font-weight: 700;
          }
      }
    }
  }
  }

@include responsive.after(1040px) {
  .footer {
    .bannerWrap {
      margin: 0;
      padding: 0px 20vw;
      border-radius: 0;
      justify-content: space-between;
      background-color: colors.$BG_FOOTER2;

      .bannerDetailWrap {
        
        .textDetail {
          flex-direction: row;
          margin: 20px 20px 20px 0;

          .titleContent,
          .subContent {
            font-size: 18px;
            margin: 0;
            font-weight: 700;
            color: colors.$WHITE;
          }
        }

        .bannerBtn {
          width: 170px;
          height: 50px;
          font-size: 17px;
          color: colors.$PRIMARY;
          background-color: colors.$WHITE;
          border-radius: 50px;
        }
      }
    }

    .footerDetailWrap {
      justify-content: center;
      padding: 20px;

      .footerDetail {
        width: 100%;
        max-width: 1000px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 200px;

        .infos {
          .footerLocation,
          .footerInc {
            font-size: 16px;
          }
        }

        .privacy {
          font-size: 16px;
          text-align: right;
        }
      }
    }
  }
}
